/* Notes

	Fine ass colors:
	#000000
	#f30808
	#FFFFFF


*/

/* Imports */
@import url(http://fonts.googleapis.com/css?family=Exo+2);

/*Clear everything*/
* {
	margin:0;
	padding:0;
}

/*Major design, eg heights, widths, backgrounds etc*/
body, html, .mainwrapper {
	width:100%;
	height:100%;
}
body {
	overflow:visible;
}
.mainwrapper {
	background:#000000;
}
.headerwrapper {
	height: 30px;
	background:#f30808;
	border-bottom:10px solid #fff;
	color: #fff;
}
.bodywrapper {
	background:#000000;
	position:relative;
    left: 0;
    top: 0;
}
.footerwrapper {
	height:20px;
	width:100%;
	background:#f30808;
	border-top:1px solid black;
	position:fixed;
    left: 0;
    bottom: 0;
    text-align: center;
}
.maincontent {
	background:#FFFFFF;
	margin: 10px;
	padding: 10px;
	border: 1px solid black;
	border-radius:20px;
	margin-bottom:20px;
}
.headermenu {
	float: right;
	margin-top: -25px;
	position: absolute;
	left: 248px;
	text-align: left;
	top: 26px;
	width: auto;
}
div.headermenu
{
    padding: 6px 0px 0px 8px;
}

div.headermenu ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: auto;
}

div.headermenu ul li a, div.menu ul li a:visited
{
    background-color: #f30808;
    color: #fff;
    display:inline-block;
    line-height: 1.35em;
    padding: 4px 20px;
    text-decoration: none;
    white-space: nowrap;
    margin-left:45px;
}

div.headermenu ul li a:hover
{
    background-color:#fff;
    color: #000000;
    text-decoration: none;
    border-radius:3px;
}

div.headermenu ul li a:active
{
    background-color:#fff;
    color: #000000;
    text-decoration: none;
}

/*Minor designs, eg text, borders etc*/
h2 {
	font-family: 'Exo 2', sans-serif;
}
.headerwrapper {
	padding:3px;
	padding-left:50px;
}
.footerwrapper {
	padding:2px;
	padding-left:10px;
	font-family: 'Exo 2', sans-serif;
	color: #fff;
}
.headermenu {
	font-family: 'Exo 2', sans-serif;
}
