/* Notes

	Fine ass colors:
	#000000
	#f30808
	#FFFFFF


*/

/* Imports */
@import url(http://fonts.googleapis.com/css?family=Exo+2);

/*Clear everything*/
* {
	margin:0;
	padding:0;
}

/*Major design, eg heights, widths, backgrounds etc*/
body, html, .mainwrapper {
	width:100%;
	height:100%;
}
body {
	overflow:visible;
}
.mainwrapper {
	background:#0C365B;
}
.headerwrapper {
	height: 30px;
	background:#0C365B;
	border-bottom:10px solid #4BC3DD;
	color: #EAD8C0;
}
.bodywrapper {
	background:#0C365B;
	position:relative;
    left: 0;
    top: 0;
}
.footerwrapper {
	height:20px;
	width:100%;
	background:#4BC3DD;
	border-top:1px solid black;
	color: #EAD8C0;
	position:fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    text-shadow: 1px 1px 1px black
}
.maincontent {
	background:#EAD8C0;
	margin: 0px auto;
	margin-top:10px;
	padding: 10px;
	border: 1px solid black;
	border-radius:20px;
	margin-bottom:20px;
	width:930px;
}
.headermenu {
	float: right;
	margin-top: -25px;
	position: absolute;
	left: 248px;
	text-align: left;
	top: 26px;
	width: auto;
}
div.headermenu
{
    padding: 6px 0px 0px 8px;
}

div.headermenu ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: auto;
}

div.headermenu ul li a, div.menu ul li a:visited
{
    background-color: #0C365B;
    color: #EAD8C0;
    display:inline-block;
    line-height: 1.35em;
    padding: 4px 20px;
    text-decoration: none;
    white-space: nowrap;
    margin-left:45px;
}

div.headermenu ul li a:hover
{
    background-color:#4BC3DD;
    color: #EAD8C0;
    text-decoration: none;
    border-top-right-radius:3px;
	border-top-left-radius:3px;
}

div.headermenu ul li a:active
{
    background-color:#4BC3DD;
    color: #EAD8C0;
    text-decoration: none;
}
div.headermenu li {
	position: relative;
	float: left;
}
fieldset legend {
	margin: 10px;
	padding: 4px;
}
fieldset {
	padding: 6px;
}
input {
	margin: 5px;
	margin-left: 0px;
}
tr{
	margin:5px;
	border:1px solid black;
}

/*Minor designs, eg text, borders etc*/
.maincontent {
	font-family: Calibri;
}

h2 {
	font-family: 'Exo 2', sans-serif;
}
.headerwrapper {
	padding:3px;
	padding-left:50px;
}
.footerwrapper {
	padding:2px;
	padding-left:10px;
	font-family: 'Exo 2', sans-serif;
}
.headermenu {
	font-family: 'Exo 2', sans-serif;
}
a.active {
	background-color:#00FF00 !important;
}
